* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    border-top: 3px double #8c8b8b; 
    background-color: #ffdada;
}

.card-deck .card {
    height: 700px;
}

.display-5 {
    font-weight: bold;
}

footer {
    background-color: black;
    height: 150px;
    display: flex;
    
}
